.gradle
.kotlin
antares.log
build/
out/
kotlin-js-store
antares/jvm/rsc/history/
antares/jvm/rsc/test/history/
doc/model/model.mdj
doc/model/model-img/
doc/model/graffle-img
antares-web/node_modules
.DS_Store
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries
