library ieee;
use ieee.std_logic_1164.all;

{%- if vertice.bitWidth.width == 1 %}
    {%- set entityName = entity.setEntityName('VHDL_TriStateBufferGate') %}
{%- else %}
    {%- set entityName = entity.setEntityName('VHDL_TriStateBufferGate_MultiBit') %}
{%- endif %}

entity {{ entityName }} is
{%- if vertice.bitWidth.width > 1 %}
  generic (bitWidth : integer);{{ entity.registerGenericValue('bitWidth', vertice.bitWidth.width) }}
{%- endif %}
  port (
    p1: in {{ entity.genericType('bitWidth', vertice.bitWidth.width) }};
    EN: in std_logic;
    p3: out {{ entity.genericType('bitWidth', vertice.bitWidth.width) }});
end {{ entityName }};

architecture Behavioral of {{ entityName }} is
begin
  p3 <= p1 when EN = {% if vertice.isNegative == true %}'0'{% else %}'1'{% end %} else {% if vertice.bitWidth.width == 1 %}'Z'{% else %}(others => 'Z'){% endif %};
end Behavioral;
