LIBRARY ieee;
USE ieee.std_logic_1164.all;
use IEEE.NUMERIC_STD.ALL;

{%- if label == '' || label == null %}
{{ vhdl.error('antares.vhdl.missingLabel.error', 'ROM') }}
{%- else %}
ROM-Label: '{{ label }}'
{%- endif %}