library ieee;
use ieee.std_logic_1164.all;

{%- if bitWidth == 1 %}
    {%- set entityName = vhdl.setEntityName('VHDL_TriStateBufferGate') %}
{%- else %}
    {%- set entityName = vhdl.setEntityName('VHDL_TriStateBufferGate_MultiBit') %}
{%- endif %}

entity {{ entityName }} is
{%- if bitWidth > 1 %}
  generic (bitWidth : integer);{{ vhdl.registerGeneric('bitWidth') }}
{%- endif %}
  port (
    p1: in {{ vhdl.genericType(bitWidth) }};
    EN: in std_logic;
    p3: out {{ vhdl.genericType(bitWidth) }});
end {{ entityName }};

architecture Behavioral of {{ entityName }} is
begin
  p3 <= p1 when EN = {% if negative == true %}'0'{% else %}'1'{% end %} else {% if bitWidth == 1 %}'Z'{% else %}(others => 'Z'){% endif %};
end Behavioral;
