{%- if vertice.name == '' || vertice.name == null %}
{{ entity.error('antares.vhdl.missingLabel.error', 'ROM') }}
{%- else %}
{%- set entityName = entity.setEntityName('Verilog_ROM_' + vertice.name) %}
{%- endif %}
{%- if vertice.addressWidth.width > 1 %}
{%- set aBitRange = '[0:' + (vertice.addressWidth.width - 1) + ']' %}
{%- else %}
{%- set aBitRange = ' ' %}
{%- endif %}
{%- if vertice.dataWidth.width > 1 %}
{%- set dBitRange = '[0:' + (vertice.dataWidth.width - 1) + ']' %}
{%- else %}
{%- set dBitRange = ' ' %}
{%- endif %}
{%- set romSize = vertice.memory.nonZeroLength %}
module {{ entityName }} (
  input {{ entity.type(vertice.addressWidth.width) }} A,
  input CS,
  output reg {{ entity.type(vertice.dataWidth.width) }} D
);
  reg {{ entity.type(vertice.dataWidth.width) }} my_rom [0:{{ romSize - 1 }}];

  always @ (*) begin
    if (~CS)
      D = {{ vertice.dataWidth.width }}'hz;
    else if (A >= {{ entity.value(romSize, vertice.addressWidth) }})
      D = {{ vertice.dataWidth.width }}'h0;
    else
      D = my_rom[A];
  end

  initial begin
{%- for i in 0..romSize - 1 %}
    my_rom[{{i}}] = {{ entity.value(vertice.intDataAt(i), vertice.dataWidth) }};
{%- endfor %}
  end
endmodule
